body {
  background-color: #202020;
  font-family: Quicksand;
  color: #F8F8F8;
}

.item {
  width: 100%;
  font-size: 18px;
  height: 40px;
  padding: 2px 15px 5px;
  border-bottom: dotted 1px #A0A0A0;
}

.item.extended {
  height: 80px;
}

.item.sold {
  font-style: italic;
  color: #A0A0A0;
}

.item.onsale {
  color: #F8F8F8;
}

.item div {
  margin: 10px 5px 0 0;
}

.item > .text {
  float: left;
}

.item > .roi {
  float: right;
  text-align: right;
  width: 80px;
}

.item > .roi.positive {
  color: #16A085;
}

.item > .roi.negative {
  color: #96281B;
}

.item > .rev {
  float: right;
  text-align: right;
  width: 70px;
}

.item > .price {
  float: right;
  text-align: right;
  width: 70px;
}

.item > .daysin {
  float: right;
  width: 220px;
  color: #D0D0D0;
  text-align: right;
  padding-right: 10px;
}

@media(max-width: 800px) {
  .item > .daysin {
    width: 100px;
  }
}

.itemlist {
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
  min-height: 90vh;
  padding: 60px 0;
}

#menu {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 60px;
	background-color: #16a085;
}

#menu > div {
	width: 70%;
	margin: 10px auto;
	padding: 0 39px 0 0;
}

#menu input {
	height: 40px;
	box-sizing: border-box;
	font-size: 20px;
	background-color: #F8F8F8;
	width: 100%;
	border: none;
	border-right: none;
	color: #404040;
	padding: 5px 2px 5px 10px;
	font-family: Quicksand;
}

#send {
	width: 39px;
	height: 40px;
	background-color: #1abc9c;
	border: 2px solid #F8F8F8;
	float: right;
	padding: 0;
	margin: 0 -39px 0 0;
	box-sizing: border-box;
	transition: background-color 0.2s;
}

#send:hover {
	background-color: #16a085;
	transition: background-color 0.2s;
}
